.DS_Store

# System & Binary directories
.config/herd-lite/

# Cache & State
.config/configstore/
.config/karabiner/automatic_backups/

# App history
.config/wireshark/recent*

# Credentials
.config/gh/hosts.yml