.DS_Store

# System & Binary directories
.config/herd-lite/

.config/nvim/lazy-lock.json

# Cache & State
.config/configstore/
.config/karabiner/automatic_backups/

# App history
.config/wireshark/recent*

# Credentials
.config/gh/hosts.yml

.config/google-tasks-mcp/tokens.json
.config/google-tasks-mcp/oauth-credentials.json
.config/github-copilot/*
.config/gcloud/
.config/life/google-service-account.json
.config/workspace-mcp/oauth-client-web.json
